<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/8534207431.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/shared.css">
	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/admin.css">
	<title>Admin Login</title>
</head>

<body class="reset" id="to-top">


	<div class="admin__wrapper-outer">
		<header>
			<%- include('includes/nav.ejs') %>
		</header>


		<main>
			<div class="admin__wrapper-inner">
				





			</div>
		</main>


	</div>


	<span class="wrapper__span-to-top">
		<a class="span__a-to-top fas fa-chevron-circle-up" href="#to-top"></a>
	</span>




	<script src="/js/shared.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/admin.js"></script>
</body>

</html>