<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/8534207431.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/shared.css">
	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/contact.css">
	<title>Contact</title>
</head>

<body class="reset" id="to-top">


	<div class="contact__wrapper-outer">
		<header>
			<%- include('includes/nav.ejs') %>
		</header>


		<main>
			<div class="contact__wrapper-inner">

				<div class="contact__description">

					<h1>REACH ME <span>TODAY</span></h1>

					<h3>Let's have a <span>chat.</span></h3>

				</div>

				<div class="contact__info">
					<section class="contact__info-email-phone">
						<h3>Email</h4>
						<h4>Mikkelmbk@live.dk</h5>
						<h3>Phone</h4>
						<h4>+45 21 22 17 28</h5>
					</section>
					<section class="contact__info-location-social">
						<h3>Location</h4>
						<h4>Jyderup, Denmark</h5>
						<h3>Social</h4>
						<section class="contact__info-socials">
							<a href="https://www.linkedin.com/in/mikkel-back-koll-21a435b4/" target="_blank">LinkedIn</a>
							
						</section>
					</section>
				</div>





			</div>
		</main>


	</div>


	<span class="wrapper__span-to-top">
		<a class="span__a-to-top fas fa-chevron-circle-up" href="#to-top"></a>
	</span>




	<script src="/js/shared.js"></script>
	<script src="/js/nav.js"></script>
</body>

</html>