<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/8534207431.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/shared.css">
	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/contact.css">
	<title>Contact</title>
</head>

<body class="reset" id="to-top">


	<div class="contact__wrapper-outer">
		<header>
			<%- include('includes/nav.ejs') %>
		</header>


		<main>
			<div class="contact__wrapper-inner">

				<div class="contact__description">

					<h1>REACH ME <span>TODAY</span></h1>

					<h3>Let's have a <span>chat.</span></h3>

				</div>

				<form class="contact__form">

					<input type="text" class="contact__form-name" placeholder="Name" name="name">
					<input type="text" class="contact__form-email" placeholder="Email" name="email">
					<input type="text" class="contact__form-phone" placeholder="Phone" name="phone">
					<input type="text" class="contact__form-subject" placeholder="Subject" name="subject">
					<textarea rows="7" class="contact__form-message" placeholder="Message" name="message"></textarea>

					<button class="contact__form-button">Submit</button>


				</form>

				<span class="contact__message"></span>




			</div>
		</main>


	</div>


	<span class="wrapper__span-to-top">
		<a class="span__a-to-top fas fa-chevron-circle-up" href="#to-top"></a>
	</span>




	<script src="/js/shared.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/contact.js"></script>
</body>

</html>