<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/8534207431.js" crossorigin="anonymous"></script>
	<%- include('includes/firebase-scripts.ejs') %>
	<link rel="stylesheet" href="/css/shared.css">
	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/contact.css">
	<title>Contact</title>
</head>
<body class="reset">


	<div class="contact__wrapper-outer">
		<header>
			<%- include('includes/nav.ejs') %>
		</header>


	</div>


	

	<script src="/js/firebase-config.js"></script>
	<script src="/js/shared.js"></script>
	<script src="/js/nav.js"></script>
</body>
</html>