<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/8534207431.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/shared.css">
	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/index.css">
	<title>Home</title>
</head>
<body class="reset">

	<div class="home__wrapper">
		<header>
			<%- include('includes/nav.ejs') %>
		</header>

		<main>

			<h1 class="home__name">Mikkel Back Koll</h1>
			<h2 class="home__profession">Front End Developer</h2>
			<div class="home__internal-link-container">
				<a href="/work/" class="home__projects">View Projects</a>
				<a href="/resume/" class="home__resume">View Resume</a>
			</div>
			<div class="home__external-link-container">
				
				<a href="https://github.com/Mikkelmbk?tab=repositories" class="home__SoMe-link" target="_blank"><i class="fab fa-github"></i></a>
				<a href="https://www.linkedin.com/in/mikkel-back-koll-21a435b4/" class="home__SoMe-link" target="_blank"><i class="fab fa-linkedin-in"></i></a>

			</div>

		</main>

	</div>


	

	<script src="/js/shared.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>