<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/8534207431.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/shared.css">
	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/project.css">
	<title>Project</title>
</head>
<body class="reset" id="to-top">


	<div class="project__wrapper-outer">
		<%- include('includes/loading-overlay.ejs') %>

		<header>
			<%- include('includes/nav.ejs') %>
		</header>
	
	
		<main>
	
			<div class="project__wrapper-inner">
	
				<h1 class="project__title"></h1>
	
			</div>
	
			
			
		</main>


	</div>




	<span class="wrapper__span-to-top">
		<a class="span__a-to-top fas fa-chevron-circle-up" href="#to-top"></a>
	</span>

	<script src="/js/shared.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/project.js"></script>
</body>
</html>