<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/8534207431.js" crossorigin="anonymous"></script>
	<%- include('includes/firebase-scripts.ejs') %>
	<link rel="stylesheet" href="/css/shared.css">
	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/project.css">
	<title>Project</title>
</head>
<body class="reset">

	<header>
		<%- include('includes/nav.ejs') %>
	</header>


	<main>

		<div class="project__wrapper">

			<h1 class="project__title"></h1>

		</div>

		
		
	</main>



	

	<script src="/js/firebase-config.js"></script>
	<script src="/js/shared.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/project.js"></script>
</body>
</html>