<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/8534207431.js" crossorigin="anonymous"></script>
	<%- include('includes/firebase-scripts.ejs') %>
	<link rel="stylesheet" href="/css/shared.css">
	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/work.css">
	<title>Work</title>
</head>
<body class="reset">

	<header>
		<%- include('includes/nav.ejs') %>
	</header>


	<main>

		<h1 class="work__title">Projects</h1>
		<div class="work__project-wrapper">

			<div class="work__project-container">
				<img src="/img/slot-machine.PNG" alt="" class="work__background-image">

				<h2 class="work__project-title">Slot Machine</h2>
				
				<div class="work__link-container">
					<a href="https://github.com/Mikkelmbk/my-slot-machine" class="work__link" target="_blank">Github Repo</a>
					<a href="https://my-slot-machine.netlify.app/" class="work__link" target="_blank">Visit Domain</a>
				</div>
				<a href="#" class="work__link">View Project</a>
				
			</div>


			<div class="work__project-container">
				<img src="/img/slot-machine.PNG" alt="" class="work__background-image">

				<h2 class="work__project-title">Slot Machine</h2>
				
				<div class="work__link-container">
					<a href="https://github.com/Mikkelmbk/my-slot-machine" class="work__link" target="_blank">Github Repo</a>
					<a href="https://my-slot-machine.netlify.app/" class="work__link" target="_blank">Visit Domain</a>
				</div>
				<a href="#" class="work__link">View Project</a>
				
			</div>


			<div class="work__project-container">
				<img src="/img/slot-machine.PNG" alt="" class="work__background-image">

				<h2 class="work__project-title">Slot Machine</h2>
				
				<div class="work__link-container">
					<a href="https://github.com/Mikkelmbk/my-slot-machine" class="work__link" target="_blank">Github Repo</a>
					<a href="https://my-slot-machine.netlify.app/" class="work__link" target="_blank">Visit Domain</a>
				</div>
				<a href="#" class="work__link">View Project</a>
				
			</div>
			
			<div class="work__project-container">
				<img src="/img/slot-machine.PNG" alt="" class="work__background-image">

				<h2 class="work__project-title">Slot Machine</h2>
				
				<div class="work__link-container">
					<a href="https://github.com/Mikkelmbk/my-slot-machine" class="work__link" target="_blank">Github Repo</a>
					<a href="https://my-slot-machine.netlify.app/" class="work__link" target="_blank">Visit Domain</a>
				</div>
				<a href="#" class="work__link">View Project</a>
				
			</div>
			



		</div>
	</main>



	

	<script src="/js/firebase-config.js"></script>
	<script src="/js/shared.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/work.js"></script>
</body>
</html>