$primary-main-theme: #e34234;
$primary-sub-theme: #c4584e;
$secondary-main-theme: #c78100;
$secondary-sub-theme: rgba(199, 129, 0, 0.486);
$imaged-background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('/img/code_computer.jpg');
$colored-background: #111;
$input-background-color: rgba(150, 150, 150, 0.226);