@import 'variables';

.admin__wrapper-outer{
    min-height:100vh;
    background-color: $colored-background;
    display:flex;
    flex-direction: column;
    main{
        display:inherit;
        flex-grow:1;

        .admin__wrapper-inner{
            width:90%;
            margin: 0 auto;

            .admin__navigation{
                display:flex;
                list-style-type: none;
                margin:40px 0;
                padding:0;
                justify-content: space-evenly;
                border:3px solid $primary-sub-theme;
                height:40px;
                align-items: center;
                border-radius:50px;
                background-color:#333;

                &-li{
                    font-size: 1.3em;

                    a{
                        text-decoration: none;
                        color:unset;
                    }
                    
                }
            }

            .admin__content-container{

                .admin__table-container{
                    display:flex;
                    justify-content: center;
                    text-align:center;
                    margin-bottom:40px;
                    
    
                    .admin__table{
                        background-color: #333;
                        border-radius: 5px;
                        padding: 10px;
                        th{
                            color: white;
                        }
    
                        .admin__btn-container button{
                            font-size:1em;
                            margin:0 4px;
                            padding:2px 5px;
                            background-color: $primary-sub-theme;
                            border-radius:4px;
                            color:unset;
                            border: 1px solid black;
                            cursor:pointer;
                        }
                    }
                }
                .admin__form-container{
                    .admin__form{
                        width:80%;
                        margin: 0 auto;
                        textarea,input{
                            width:100%;
                            box-sizing: border-box;
                            margin:3px 0 15px 0;
                            background-color: $input-background-color;
                            color:white;
                            border:none;
                            border-radius:5px;
                            padding: 4px 10px;
                            outline:none;
                            height:auto;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                        button{
                            width:100%;
                            background-color: $primary-main-theme;
                            color:white;
                            border:none;
                            outline:none;
                            height:35px;
                            border-radius:5px;
                            margin-bottom:20px;
                            cursor:pointer;
    
                        }
                    }
                }
            }






        }
    }

}


@media(min-width: 749px){


    .admin__wrapper-outer{
        
        main{
           
    
            .admin__wrapper-inner{
                width: 60%;


                .admin__content-container{
                    display:flex;
                    justify-content: space-evenly;

                    .admin__table-container{
                        justify-content: flex-start;
                    }

                }
                .admin__form-container{
                    width:60%;
                    .admin__form{
                        margin: 0 auto;
                       
                    }
                }


               
            }
        }
    
        
    }
    



}