@import 'variables';

.contact__wrapper-outer{
    min-height:100vh;
    background-color: $colored-background;
    

    
    .contact__wrapper-inner{
        padding-top:10px;
        width:90%;
        margin: 0 auto;
        text-align:center;

        .contact__description{

            // padding-bottom:20px;
            h1{
                margin-bottom:0;
            }
            h3{
                margin-top:10px;
                
            }
            span{
                color: $primary-main-theme;
            }
        }


        .contact__form{
            display:flex;
            flex-direction: column;
            width:90%;
            margin:0 auto;

            input{
                margin: 10px 0;
                border:none;
                border-radius: 4px;
                height:35px;
                padding-left:10px;
                background-color:rgba(150, 150, 150, 0.226);
                color:white;
                outline:none;
            }
            textarea{
                margin:10px 0;
                padding:10px;
                border:none;
                border-radius:5px;
                background-color:rgba(150, 150, 150, 0.226);
                color:white;
                outline:none;
            }

            button{
                background-color:$primary-main-theme;
                border:none;
                border-radius:5px;
                width:100%;
                color:white;
                height:45px;
                margin: 10px 0 20px 0;
                outline:none;
            }
        }

    }
    


}


@media(min-width: 749px){


    .contact__wrapper-outer{
        
    
        
        .contact__wrapper-inner{
            width: 60%;
            padding-top:80px;
            
    
            .contact__description{
    
                
                h1{
                    
                    font-size:72px;
                }
                h3{
                    font-size:35px;
                    
                }
               
            }
            .contact__form{
              width:50%;
    
                input{
                    height:45px;
                 
                }
                textarea{
                  
                }
    
                button{
                    cursor:pointer;
                   
                }
            }
        }

        
    
    
    }
    



}