@import 'hamburger-library';
@import 'variables';

header{
	position:sticky;
	top:0;
	background-color:$colored-background;
	z-index:10;
	border-bottom: 3px solid $primary-main-theme;
}

.animation__line{
	display:none;
}

.nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap:wrap;
	width:90%;
	margin:0 auto;
}

.nav__h1 a{
    color:unset;
	text-decoration: none;
	user-select: none;
}


.nav__ul{
	display:block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width:100%;
	text-align:center;
	opacity:0;
	height:0;
	overflow:hidden;
}

.nav__ul--animation{
	transition: all .3s ease-in-out;
}

.nav__li{
	width:100%;
	padding: 0 0 10px 0;
	user-select: none;
}

.nav__a{
	color:white;
	text-decoration: none;
	letter-spacing: 2px;
	font-size:17px;
	text-transform: uppercase;
}

.nav__li:last-child{
    padding-bottom:15px;
}

.open-menu{
	opacity:1;
}

.active-menu{
    color:$primary-main-theme;
}

.hamburger{
	outline:none;
	user-select:none;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner, 
.hamburger.is-active .hamburger-inner::after, 
.hamburger.is-active .hamburger-inner::before {
	background-color: white;
}


@media(min-width: 749px){

	.hamburger{
		display:none;
	}

	.nav__ul{
		display:flex;
		justify-content: flex-end;
		align-items: center;
		width:unset;
		opacity:1;
		height:unset;
		position: relative;
	}

	
	.nav__li{
		width:unset;
		padding: 10px 20px;
	}
	.nav__li:last-child{
		padding-bottom:10px;
	}

	.nav__a{
		transition: all .2s ease-in-out;
	}

	.nav__a:hover{
		color:$primary-main-theme;
	}

	.animation__line{
		height: 10px;
		width: 20px;
		bottom:0;
		display: block;
		content: " ";
		border-top: 1px solid $primary-main-theme;
		position: absolute;
		transition: all 1s;
		pointer-events:none;
	}

}
