@import 'variables';


.project__wrapper-outer{
    min-height:100vh;
    background-color: $colored-background;
    position:relative;

    .loading-overlay {
        position:fixed;
        height:100vh;
        width:100%;
        display:flex;
        align-items:center;
        justify-content: center;
    }

    .project__wrapper-inner{
        width:80%;
        margin: 0 auto;
        
        .project__title{
            text-align:center;
            margin-bottom:5px;
        }
        hr{
            margin:0 auto 50px auto;
            height:6px;
            width:300px;
            border:none;
            background: radial-gradient(ellipse at center, $primary-main-theme 0%, rgba(0, 0, 0, 0) 75%);
        }


        section{
            background-color:#222;
            padding:10px;
            border-radius:5px;
            margin-bottom:15px;
            border: 1px solid #333;
        }

        section h3{
            margin: 10px;
            color: $primary-sub-theme;
            font-weight:400;
        }

        section p{
            margin:10px;
        }


        
    }
}


@media(min-width: 749px){


    .project__wrapper-outer{
    
        .project__wrapper-inner{
            width:60%;
     

        
           
        }
    }

}
