@import 'variables';


.project__wrapper-outer{
    min-height:100vh;
    background-color: $colored-background;

    .project__wrapper-inner{
        width:80%;
        height:200px;
        margin: 0 auto;
    
        .project__title{
            text-align:center;
        }
    }
}
