@import 'variables';


.project__wrapper-outer{
    min-height:100vh;
    background-color: $colored-background;
    position:relative;

    .loading-overlay {
        position:fixed;
        height:100vh;
        width:100%;
        display:flex;
        align-items:center;
        justify-content: center;
    }

    .project__wrapper-inner{
        width:80%;
        margin: 0 auto;
        min-height:80vh;
    
        .project__title{
            text-align:center;
        }
    }
}


@media(min-width: 749px){


    .project__wrapper-outer{
    
        .project__wrapper-inner{
            width:60%;
     

        
           
        }
    }

}
