@import 'variables';


html{
	color:white;
	font-family: Arial, Helvetica, sans-serif;
}

.reset{
	margin: 0;
	background-color: $colored-background;
}

.invisible{
	opacity:0;
}

.transition-opacity{
	transition: opacity .3s ease-in;
}

// .visible{
// 	opacity:1;
// }
