@import 'variables';


html{
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
}

.reset{
	margin: 0;
	background-color: $colored-background;
}

.invisible{
	opacity:0;
}

.display-none {
	display:none !important;
}

.transition-opacity{
	transition: opacity .3s ease-in;
}

.wrapper__span-to-top{
    position:fixed;
    right:1.5%;
    bottom:5%;
    z-index: 3;
    transition: ease .3s;
    opacity:0;
	pointer-events: none;
}

.wrapper__span-to-top .span__a-to-top{
    font-size:1.8em;
    text-decoration:none;
    color:unset;
    border-radius:3px;
}


.pulsate {
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.4;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.4;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.4;
    }
}


@media(min-width: 749px){ 

	.wrapper__span-to-top{
		right:16%;
	}

}
