@import 'variables';

.work__wrapper-outer{
    background-color: $colored-background;
    min-height:100vh;

    .work__title{
        text-align:center;
    }

    .work__wrapper-inner{
        width:80%;
        margin:40px auto 0 auto;
        padding-bottom:30px;
    
        .work__project-container{
            height:250px;
            min-width:270px;
            margin: 30px 0 0 0;
            padding: 20px 0;
            box-sizing: border-box;
            border: 3px solid $primary-main-theme;
            border-radius:6px;
            position:relative;
            display:flex;
            flex-direction:column;
            justify-content: space-between;
            align-items: center;
            cursor:pointer;
            .work__project-title{
                font-weight:400;
                margin:0;
                z-index:1;
            }
    
            .work__background-image{
                height:100%;
                width:100%;
                position:absolute;
                object-fit:cover;
                top:0;
                left:0;
                opacity:0.4;
            }

            .work__link-container{
                z-index:1;
            }
    
            .work__link{
                text-decoration: none;
                color:unset;
                margin: 0 7px;
                border: 1.5px solid rgba(255, 255, 255, 0.781);
                border-radius:3px;
                padding:7px;
                font-size:16px;
                font-weight:600;
                transition:all .3s ease-in-out;
                z-index:1;
            }

        }
    }
}





@media(min-width: 749px){

    .work__wrapper-outer{

        main{
    
            .work__wrapper-inner{
                width:60%;

                display:grid;
                grid-column-gap: 30px;
                grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    
                .work__project-container{
                    height:300px;
                }
    
            }
    
            a:hover{
                background: $primary-main-theme;
            }
        
    
            
    
    
        }
    }


}